@font-face{
   font-family: mexican;
   src: url(../resources/ELRIOTT2.TTF)
}

body {
   background-color: rgba(237, 200, 226, 0.101);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
 
 }
 #logo-navbar{
   width: 3em;
   height: 3em;
   margin: 2em;
   margin-top: 0.1em;
   margin-left: 0em;
 }
 #botonVolverHome{
   display: flex;
   box-shadow: #f3aacb7a 0px 7px 29px 0px;
   border-radius: 1em;
   width: 8em;
   height: 3em;
   margin-left: 1em;
   cursor: pointer;
  
 }

.backHome{
   text-decoration: none;
   margin-top: 0.8em;
   margin-left:-1em;
   color: #bd6f95;;
}

 #columna {
   width: 30em;
   
 }
 #web{
   margin-top: 1em;
   margin-bottom: 1em;
   
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100em;
 }

h1 {
   font-family: mexican;
   text-align: center;
   color: #bd6f95;;
}

section {
   background-color: rgb(255, 255, 255); 
   padding: 1.2em;
   margin: 1.2em;
   border-radius: 1em;
   box-shadow: #f3aacb7a 0px 7px 29px 0px;
}

h2 {
   font-family: mexican;
   color: #bd6f95;; 
}

ul {
   list-style-type: none;
   padding: 0;
}

li {
   margin: 1em 0;
   font-size: 18px;
   color: #bd6f95;; 
}

.navcarta{
   font-weight: bold;
   color: #bd6f95;
}

.navcarta:hover{
   background-color: rgba(0, 128, 0, 0.341);
  padding: 0;
  color: #bd6f95;
  font-weight: bold;
}
.nav-link{
   color: #bd6f95;
}



li:hover {
   background-color:  rgba(165, 42, 42, 0.241);
   cursor: pointer;
   border-radius: 1em;
   padding: 1em;
}

#entrantes{
   background-color: rgba(237, 200, 226, 0.207);
   display:flex;
   
   
   
}

#principales{
   background-color: rgba(237, 200, 226, 0.207);
   display:flex;
}

#compartir{
   background-color:rgba(237, 200, 226, 0.207);
   display:flex;
}

#postres{
   background-color: rgba(237, 200, 226, 0.207);
   display:flex;
}

#coctails{
   background-color: rgba(237, 200, 226, 0.207);
   display:flex;
}

