body {
  background-color: #fdeaf2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

#web {
  background-color: #fdeaf2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80em;
}

@font-face {
  font-family: mexican;
  src: url(/Proyecto-restaurante/resources/ELRIOTT2.TTF)
}

#columna {
  width: 30em;
  background-color: red;
}


#reclamo {
  font-family: mexican;
  font-size: 16px;
  background: -webkit-linear-gradient(green, rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1em;

}

#container {
  border-radius: 1em;
  --bs-gutter-x: 0em;
  


  box-shadow: #f3aacb7a 0px 7px 29px 0px;
}

#wallpaper-img {
  width: 58em;
  height: 20em;
  margin-bottom: 1em;
  box-shadow: #f3aacb7a 0px 7px 29px 0px;
  display: flex;
}

.envoltorio-cabecera {
  margin-top: 1em;
}

#cabecera {
  position: relative;
  display: flex;
  justify-content: center;

}

#hueco-cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wallpaper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#logo {
  position: absolute;
}


.navbar.navbar-expand-lg.navbar-light.bg-light {
  box-shadow: #f3aacb7a 0px 7px 29px 0px;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}

.navbar-brand {
  margin-left: 0.8em;
}

#navbarNav {
  z-index: 1;
}

.navbar-expand-lg .navbar-collapse {
  z-index: 1000;
}

.row{
  --bs-gutter-x: 0 rem;
}

#navbar-container {
  border-radius: 0.8em;
  margin-left: 1em;
  margin-right: 1em;

}

.portfolio-menu {
  text-align: center;
  color: bd6f95;
}

.portfolio-menu ul{
 

  margin-left: auto;
  margin-right: auto;
}

.portfolio-menu ul li {
  display: inline-block;
  list-style: none;
  margin: 0.2em;
  padding: 0.5em;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all .5s ease;
  color: #bd6f95;
}

.nav-item {
  font-weight: bold;
  color: green;
}

.nav-item:hover {
  background-color: rgba(0, 128, 0, 0.341);
  border-radius: 1em;
}


.portfolio-item .item {

  float: left;
  margin-bottom: 10px;
}

.h4 {
  color: #bd6f95;
}

.btn {
  background-color: white;
  box-shadow: #f3aacb7a 0px 7px 29px 0px;
  color: black;
  margin: 1em;
}

.btn:hover {
  background-color: #f3aacb7a;
  transition: 0.5s;
}

#img-gal {
  height: 10em;
  object-fit: cover;
  border-radius: 0.8em;
  margin-bottom: 1em;
  padding: 0.5em;
 
  
}

.img-fluid {
  height: 10em;
  object-fit: cover;
  border-radius: 0.8em;
  margin-bottom: 1em;
  

}

.container-fluid{
  --bs-gutter-x: 0em;
}

#img-gal:hover {

  scale: 1.4;
  border: solid 0.4em gradient(rgba(0, 128, 0, 0.499), rgba(255, 255, 255, 0.499), rgba(255, 0, 0, 0.499));
  transition: 0.5s;
  position: relative;
  background: linear-gradient(to right, rgba(0, 128, 0, 0.5), rgba(255, 255, 255, 0.505), rgba(255, 0, 0, 0.5));
  padding: 0.5em;

}

.footer {
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: #f3aacb7a 0px 7px 29px 0px;
  border-radius: 0.8em;

}

.p-4{
  border-radius: 0.8em;
}

h4,
h5 {
  font-family: mexican;
}


@media(max-width: 540px) {}